extends layout

block content
	body
	.fixed.sticky.hide-for-small-only
		nav.top-bar(data-topbar role="navigation" data-options="is_hover: false")
			ul.title-area
				li.name
					h1
						a(href='/') snapOR
			section.top-bar-section
				ul.right#logout-state
					li
						a(href='#', data-reveal-id="login") Login
							#login.reveal-modal.users(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Login
								a.close-reveal-modal(aria-label='Close') &times;
								form#login-form(method='post' action='/user')
									label.label Email:
									input#login-email(type="text" name="email" style="font-family: 'Robot Slab'" placeholder="user@domain.com")
									label.label Password:
									input#login-pw(type="password" name="password" style="font-family: 'Robot Slab'" placeholder="password")
									input#login_user.button(type="submit" style="font-family: 'Questrial'" value="Login" data-reveal-id="userDiv")
									//- input.button(style="font-family: 'Questrial'" value="Reset Password")
					li
						a(href='#', data-reveal-id='register') Register
							#register.reveal-modal.users(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Register New Account
								a.close-reveal-modal(aria-label='Close') &times;
								form(method='post' action='/begin_regis')
									label.label Email:
									input#email(type="text" name="email" style="font-family: 'Roboto Slab'" placeholder="user@example.com")
									label.label Name:
									input#nameInput(type="text" name="nameInput" style="font-family: 'Roboto Slab'" placeholder="Enter Name")
									label.label Hometown:
									input#homeInput(type="text" name="homeInput" style="font-family: 'Roboto Slab'" placeholder="City & State")
									label.label Password:
									input#password(type="password" name="password" style="font-family: 'Roboto Slab'" placeholder="password")
									label.label Re-enter Password:
									input#password_confirm(type="password" name="password_confirm" style="font-family: 'Robot Slab'" placeholder="Re-type your password")
									br
									input#register_account(type="submit" style="font-family: 'Questrial'" value="Register Account" data-reveal-id="userDiv")
				ul.right#login-state.hide-nav
					li
						a(href='#', id="logout") Logout
							form(method="post" action="/logout_user")
					li#my_account
						a(href='#', data-reveal-id='account') My Account
							#account.reveal-modal.users(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
								h2#modalTitle Update Account
								a.close-reveal-modal(aria-label='Close') &times;
								//-form(method='post' action='/update_user_info')
								label.label Email:
								input#email_update(type="text" name="email" style="font-family: 'Roboto Slab'" placeholder="user@example.com")
								label.label Name:
								input#nameInput_update(type="text" name="nameInput" style="font-family: 'Roboto Slab'" placeholder="Enter Name")
								label.label Hometown:
								input#homeInput_update(type="text" name="homeInput" style="font-family: 'Roboto Slab'" placeholder="City & State")
								label.label Password:
								input#password_update(type="password" name="password" style="font-family: 'Roboto Slab'" placeholder="password")
								label.label Re-enter Password:
								input#password_confirm_update(type="password" name="password_confirm" style="font-family: 'Robot Slab'" placeholder="Re-type your password")
								br
								input#update_user(type="submit" style="font-family: 'Questrial'" value="Update Your Account" data-reveal-id="userDiv")
				ul.left
					li.active
						a(href='#', data-reveal-id="parks") Explore Parks
							#parks.reveal-modal.queries(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
	.show-for-small-only
		.name
			a(href='/')
				h1 snapOR
			a(href='#', data-reveal-id="login")
				div Login
			a(href='#', data-reveal-id='register')
				div Register
			a(href='#', data-reveal-id="parks")
				div Explore Parks
	div#intro-content
		div.sec-1
			p Here are Oregon's 196 state parks. Click a marker to see photos.

	#user
	#userInfoDiv
	#map_canvas.hide-for-small-only
	#parkInfo
		#parkHeader
		#pictures
	script(src='/javascripts/all.js')
	script.
		$(document).foundation();
