doctype html
html
	head
		title snapOR
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Questrial|Gilda+Display|Satisfy|Roboto+Slab", rel="stylesheet", type="text/css")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6B0c1rmEp3-VR0gJyjkdK5BmpypkpdA')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		block content
