extends layout

block content
	div.logged-in#hidden(style="display:none")
		.fixed.sticky.hide-for-small-only
			nav.top-bar(data-topbar="", role="navigation")
				ul.title-area
					li.name
						h1
							a(href='/') snapOR
					li.toggle-topbar.menu-icon
						a(href="#")
							span Menu
				section.top-bar-section
					ul.right
						li
							a(href='#' id="logout") Logout
									form(method="post" action="/logout_user")
						li
							//-a(href='#', id='nav-update', data-reveal-id='update') 
							a(href='#' id="nav_update") Update
					ul.left
						li.active
							a(href='#', data-reveal-id="parks") Explore Parks
								#parks.reveal-modal.queries(data-reveal='', aria-labelledby='modalTitle', aria-hidden='true', role='dialog')
	.show-for-small-only
		.name
			a(href='/')
				h1 snapOR
			a(href='#', data-reveal-id="login") 
				div Login
			a(href='#', data-reveal-id='register') 
				div Register
			a(href='#', data-reveal-id="photos") 
				div Discover Photos
			a(href='#', data-reveal-id="parks")
				div Explore Parks
		#user
		#userInfoDiv
		#map_canvas.hide-for-small-only
		#parkInfo
			#parkHeader
			#pictures
		script(src='/javascripts/all.js')
		script.
			$(document).foundation();