extends layout

block content
	div.sticky
		nav.top-bar
			ul.title-area
				li.name
					h1
						a(href='#') snapOR
			ul.left
				li
					p Discover Photos
				li
					p Explore Parks
			ul.right
				li
					a(href='#') Login/Register
	div#map_canvas
